.cl-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: 500;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: #409eff;
  border: 1px solid #dcdfe6;
  border-color: #409eff;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 4px;
}
.cl-btn:hover,
.cl-btn:focus {
  border-color: #79bbff;
  background-color: #79bbff;
}

.cl-btn:active {
  background-color: #337ecc;
  border-color: #337ecc;
  outline: none;
}

.cl-form-item {
  display: flex;
  padding: 20px 10px 0px 10px;
}

.cl-label {
  display: inline-block;
  flex: 0 0 auto;
  font-size: 14px;
  color: #606266;
  height: 48px;
  line-height: 32px;
  padding: 0 12px 0 0;
  box-sizing: border-box;
  min-width: 100px;
  white-space: nowrap;;
  text-align: right;
}
.cl-input {
  flex-grow: 1;
  -webkit-appearance: none;
  color: #606266;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  outline: none;
  border: none;
  background: none;
  box-sizing: border-box;
  padding: 1px 11px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #dcdfe6 inset;
  transition: box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cl-input:focus {
  box-shadow: 0 0 0 1px #409eff inset;
}
.cl-input::placeholder {
  color: #8d9097;
  font-size: 12px;
}
.cl-checkbox {
  color: #606266;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  user-select: none;
  height: 32px;
}
.cl-checkbox__input {
  outline: none;
  display: inline-flex;
  position: relative;
}
.cl-checkbox__original {
  opacity: 0;
  outline: none;
  position: absolute;
  margin: 0;
  width: 0;
  height: 0;
  z-index: -1;
}

.cl-checkbox__inner {
  display: inline-block;
  position: relative;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: #fff;
  z-index: 4;
  transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
    background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
    outline 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
}

.cl-checkbox__label {
  display: inline-block;
  padding-left: 8px;
  line-height: 1;
  font-size: 14px;
}

.cl-checkbox__inner::after {
  box-sizing: content-box;
  content: "";
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  transition: transform 0.15s ease-in 0.05s;
  transform-origin: center;
}

.cl-checkbox__input.cl-is-checked .cl-checkbox__inner {
  background-color: #409eff;
  border-color: #409eff;
}

.cl-checkbox__input.cl-is-checked .cl-checkbox__inner:after {
  transform: rotate(45deg) scaleY(1);
}

.cl-checkbox__input.cl-is-checked + .cl-checkbox__label {
  color: #409eff;
}

.cl-clear-cache {
  margin-top: 18px;
}

.cl-notification,
.cl-message,
.cl-content-view {
  position: absolute;
  color: rgba(0, 0, 0, 0.65);
  min-height: 40px;
  top: 16px;
  right: 16px;
  width: 150px;
  padding: 20px;
  padding-right: 24px;
  box-sizing: border-box;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  transition: 0.3s;
  z-index: 10000;
}

.cl-message {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: none;
  min-width: 200px;
  outline: 9999px solid rgba(0, 0, 0, 0.4);
}

.cl-content-view {
  position: fixed;
  left: 50%;
  top: 80PX;
  transform: translateX(-50%);
  width: 70%;
  height: 70%;
  padding: 35px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.32);
  z-index: 9999;
}

.cl-content-view-content {
  display: block;
  width: 100%;
  position: relative;
  resize: none;
  padding: 5px 11px;
  line-height: 1.5;
  box-sizing: border-box;
  -webkit-appearance: none;
  box-shadow: 0 0 0 1px #dcdfe6 inset;
  border-radius: 4px;
  transition: box-shadow .2s cubic-bezier(.645, .045, .355, 1);
  border: none;
  min-height: calc(100% - 40px);
  color: inherit;
}

.cl-content-view-content:focus {
    outline: none;
    box-shadow: 0 0 0 1px #409eff inset;
}

.cl-content-view-copy, .cl-content-view-copy-and-close, .cl-content-view-retry {
  position: absolute;
  bottom: 15px;
}

.cl-content-view-copy-and-close {
  right: 10px;
}

.cl-content-view-copy {
  right: 130px;
}

.cl-content-view-retry {
  right: 210px;
}

.cl-spinner {
  position: absolute;
  width: 10%;
  height: 10%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.cl-spinner .cl-path {
  animation: loading-dash 1.5s ease-in-out infinite;
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  stroke-width: 2;
  stroke: #409eff;
  stroke-linecap: round;
}

.cl-spinner .cl-circular {
  animation: loading-rotate 2s linear infinite;
}

.cl-spinner .cl-content {
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
}

@keyframes loading-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }

  to {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}

@keyframes loading-rotate {
  to {
    transform: rotate(360deg);
  }
}

.cl-notification .cl-content,
.cl-message .cl-content {
  font-size: 14px;
  line-height: 1.5;
  color: #67c23a;
}

.cl-message .cl-content {
  text-align: center;
  padding: 10px 0;
}

.cl-notification__closeBtn,
.cl-message__closeBtn,
.cl-content-view__closeBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #909399;
  font-size: 18px;
  width: 1em;
  height: 1em;
  cursor: pointer;
}
.cl-notification__closeBtn:hover {
  color: #606266;
}
.cl-slide-from {
  transform: translateX(40%);
}
.hidden {
  display: none;
}

.cl-platforms {
  display: flex;
}
.cl-platform {
  position: relative;
  font-size: 16px;
  color: #606266;
  padding: 10px 0;
  margin: 0 10px;
  cursor: pointer;
}
.cl-platform.active {
  color: #409eff;
}
.cl-platform.active::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #67c23a;
  width: 100%;
  left: 0;
  bottom: 0;
}

.cl-platform-setting {
  min-height: 60px;
}

.cl-platform-setting .cl-form-item {
  display: none;
}

.cl-platform-setting .cl-form-item.active {
  display: block;
}

.cl-operation-tip {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 12px;
  color: #606266;
}